.slider{
    width:50%;
    overflow:hidden;
    position:relative;
    margin:0;
    margin-left: 7vw;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;
    background:-webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%);
    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;
    background:-webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%);
    width:25%;
    height:100%;
}
ul.slider-glider{
    overflow:hidden;
    width:1000%;
    margin:0;
}
li.slider-mimer{
    list-style:none;
    display:inline-block;
    padding-right:50px;
    background: linear-gradient(
      to right, 
      hsl(200 40% 67%), /* 200 100% 62% */
      hsl(360 100% 69%)  /* 360 100% 59% */
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: helvetica, sans-serif;
    font-size: 1.1vw;
}
@media (max-width: 768px){
    li.slider-mimer{
        list-style:none;
        display:inline-block;
        padding-right:50px;
        background: linear-gradient(
          to right, 
          hsl(200 40% 67%), /* 200 100% 62% */
          hsl(360 100% 69%)  /* 360 100% 59% */
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: helvetica, sans-serif;
        font-size: 3.2vw;
    }
    .slider{
        width:50%;
        overflow:hidden;
        position:relative;
        margin:0;
        margin-left: 12vw;
    }
}
